[submodule "src/dz_minimal_controller"]
	path = src/dz_minimal_controller
	url = https://github.com/danzimmerman/dz_minimal_controller.git

[submodule "src/Universal_Robots_ROS2_Gazebo_Simulation"]
	path = src/Universal_Robots_ROS2_Gazebo_Simulation
	url = https://github.com/danzimmerman/Universal_Robots_ROS2_Gazebo_Simulation.git

[submodule "src/Universal_Robots_ROS2_Ignition_Simulation"]
	path = src/Universal_Robots_ROS2_Ignition_Simulation
	url = https://github.com/danzimmerman/Universal_Robots_ROS2_Ignition_Simulation.git