[submodule "src/dz_minimal_controller"]
	path = src/dz_minimal_controller
	url = https://github.com/danzimmerman/dz_minimal_controller.git
[submodule "src/Universal_Robots_ROS2_Gazebo_Simulation"]
	path = src/Universal_Robots_ROS2_Gazebo_Simulation
	url = https://github.com/danzimmerman/Universal_Robots_ROS2_Gazebo_Simulation.git
[submodule "src/Universal_Robots_ROS2_Ignition_Simulation"]
	path = src/Universal_Robots_ROS2_Ignition_Simulation
	url = https://github.com/danzimmerman/Universal_Robots_ROS2_Ignition_Simulation.git
[submodule "src/Universal_Robots_ROS2_Description"]
	path = src/Universal_Robots_ROS2_Description
	url = https://github.com/danzimmerman/Universal_Robots_ROS2_Description.git
[submodule "src/gazebo_ros2_control"]
	path = src/gazebo_ros2_control
	url = https://github.com/ros-controls/gazebo_ros2_control.git
[submodule "src/RSL"]
	path = src/RSL
	url = https://github.com/PickNikRobotics/RSL.git
[submodule "src/Universal_Robots_ROS2_Driver"]
	path = src/Universal_Robots_ROS2_Driver
	url = https://github.com/danzimmerman/Universal_Robots_ROS2_Driver.git
